/* HEADER */
#header .header-wrapper:not(.stuck) .header-bg-color {
  width: 140vw;
  left: -20vw;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(270deg, var(--primary-medium), var(--tertiary-medium));
}

#header .header-wrapper:not(.stuck) :is(.menu-item a, .icon-search) {
  color: #fff;
}

.large-12 {
  padding-inline: 1.5em;
}

.large-12 > .rank-math-breadcrumb :is(a, .last, .separator) {
  color: black;
}

.gpw-product-cat {
  padding-block: 3.125rem 5rem;
}

.gpw-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem clamp( .75rem, 2.5cqi, 1.25rem );
}