:root {
  --primary-lightest: color-mix(in srgb, var(--primary-medium), #fff 70%);
  --primary-lighter: color-mix(in srgb, var(--primary-medium), #fff 50%);
  --primary-light: color-mix(in srgb, var(--primary-medium), #fff 30%);
  --primary-medium: #bf1e2e;
  --primary-dark: color-mix(in srgb, var(--primary-medium), #000 30%);
  --primary-darker: color-mix(in srgb, var(--primary-medium), #000 50%);
  --primary-darkest: color-mix(in srgb, var(--primary-medium), #000 70%);

  --secondary-lightest: color-mix(in srgb, var(--secondary-medium), #fff 70%);
  --secondary-lighter: color-mix(in srgb, var(--secondary-medium), #fff 50%);
  --secondary-light: color-mix(in srgb, var(--secondary-medium), #fff 30%);
  --secondary-medium: #27378e;
  --secondary-dark: color-mix(in srgb, var(--secondary-medium), #000 30%);
  --secondary-darker: color-mix(in srgb, var(--secondary-medium), #000 50%);
  --secondary-darkest: color-mix(in srgb, var(--secondary-medium), #000 70%);

  --tertiary-lightest: color-mix(in srgb, var(--tertiary-medium), #fff 70%);
  --tertiary-lighter: color-mix(in srgb, var(--tertiary-medium), #fff 50%);
  --tertiary-light: color-mix(in srgb, var(--tertiary-medium), #fff 30%);
  --tertiary-medium: #cfbb98;
  --tertiary-dark: color-mix(in srgb, var(--tertiary-medium), #333 30%);
  --tertiary-darker: color-mix(in srgb, var(--tertiary-medium), #333 50%);
  --tertiary-darkest: color-mix(in srgb, var(--tertiary-medium), #333 70%);

  --gray-lightest: color-mix(in srgb, var(--gray-medium), #fff 70%);
  --gray-lighter: color-mix(in srgb, var(--gray-medium), #fff 50%);
  --gray-light: color-mix(in srgb, var(--gray-medium), #fff 30%);
  --gray-medium: #ddd;
  --gray-dark: color-mix(in srgb, var(--gray-medium), #000 30%);
  --gray-darker: color-mix(in srgb, var(--gray-medium), #000 50%);
  --gray-darkest: color-mix(in srgb, var(--gray-medium), #000 70%);

  --base-font: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.line-clamp {
  --_font-size: clamp( 0.875rem, 2vw, 1rem);
  --_line-height: 1.5;
  --_line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--_line-clamp);
  overflow: hidden;
  text-wrap: pretty;
  font-size: var(--_font-size);
  line-height: var(--_line-height);

  @container style(--_fixed-height: true) {
    height: calc(var(--_font-size) * var(--_line-height) * var(--_line-clamp));
  }
}

.gpw-button {
  display: block;
  width: fit-content;
  white-space: nowrap;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: var(--primary-medium);
  padding: 1rem 5rem;
  border-radius: 1rem;
  transition: background 250ms, color 250ms;

  &:hover {
    background-color: var(--gray-darkest);
    color: #fff;
  }
}

.gpw-button--center {
  margin-inline: auto;
}
/* ================= */
/* = Product card  = */
/* ================= */
.product-card {
  --_transition-duration: 250ms;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card__header {
  position: relative;
}

.product-card__category {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.5);

  transition: color var(--_transition-duration);
}

.product-card__category:hover {
  color: var(--secondary-lightest);
}

.product-card__thumbnail {
  z-index: 1;
  display: block;
  aspect-ratio: 3/2;
  overflow: hidden;
}

.product-card__thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform var(--_transition-duration);
}

.product-card__thumbnail:hover img {
  transform: scale(1.1);
}

.product-card__content {
  --_fixed-height: true;

  flex: 1 0 auto;
  padding: .9375rem 1.25rem;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.product-card__title {
  --_font-size: clamp( 1rem, 2.5vw, 1.25rem );
  --_line-height: 1.4;
}

.product-card__title a {
  color: var(--primary-medium);

  &:hover {
    color: var(--secondary-medium);
  }
}

.product-card__price-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: .625rem;
}

.product-card__view-detail {
  display: block;
  padding: .3125rem .75rem;
  background-color: var(--primary-medium);
  color: #fff;

  transition: background-color var(--_transition-duration);

  &:hover {
    background-color: var(--gray-darkest);
    color: #fff;
  }
}