/* ============================
   |           HEADER         |
   ============================  */
/* #header:not(:has(.stuck)) {
  position: fixed;
} */

/* #masthead .header-nav.header-nav-main.nav-right > :is(.menu-item, .header-search) > a {
  color: #fff;
  position: relative;
} */

#masthead .header-nav.header-nav-main.nav-right > .html > a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

#masthead .header-nav.header-nav-main.nav-right > :is(.menu-item, .html) > a:before {
  --menu-item-before-width: 10px;
  content: '';
  display: block;
  position: absolute;
  bottom: -.3125em;
  left: 0;
  width: var(--menu-item-before-width, 10px);
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: var(--primary-medium);
  opacity: 0;
  transition: opacity 300ms, left 300ms;
}

#masthead .header-nav.header-nav-main.nav-right > :is(.menu-item, .html) > a:hover,
.header-wrapper.stuck #masthead .header-nav.header-nav-main.nav-right > :is(.menu-item, .html, .header-search) > a:hover,
#masthead .header-nav.header-nav-main.nav-right > .menu-item.current-menu-item > a {
  color: var(--primary-medium);
}

#masthead .header-nav.header-nav-main.nav-right > :is(.menu-item, .html) > a:hover:before,
#masthead .header-nav.header-nav-main.nav-right > .menu-item.current-menu-item > a:before {
  opacity: 1;
  left: calc(50% - var(--menu-item-before-width) / 2);
}

.header-wrapper.stuck #masthead {
  background-color: rgba(255, 255, 255, .6);
}

.header-wrapper.stuck #masthead .header-nav.header-nav-main.nav-right > :is(.menu-item, .html, .header-search) > a {
  color: #000;
  line-height: 1.6;
  padding-top: 1em;
}

.header-wrapper.stuck #masthead .flex-col.hide-for-medium.flex-right {
  height: 100%;
}

#top-bar {
  background-color: rgba(0, 0, 0, .5);
}

.breadcrumb {
  position: absolute;
  z-index: 3;
  inset: 50% 0 auto 0;
  max-width: 1230px;
  margin-inline: auto;
}

.rank-math-breadcrumb :is(a, .last, .separator) {
  color: #fff;
  font-size: 1.3em;
}

@container content (width < 1230px) {
  .breadcrumb {
    padding-inline: 1em;
  }
}

@container content (width < 850px) {
  .rank-math-breadcrumb :is(a, .last, .separator) {
  color: #fff;
} :is(a, .last, .separator) {
    font-size: 1em;
  }
}

/* ============================
   |          FOOTER          |
   ============================  */
#footer {
  container: footer / inline-size;
  padding-block: 0;
  color: #fff;
}

#footer a {
  color: inherit;
  transition: color 250ms, font-weight 250ms;

  &:hover {
    color: var(--tertiary-medium);
  }
}

.footer__title {
  color: var(--tertiary-medium);
}

.footer__logo {
  margin-bottom: 1.25rem;
  max-width: 15rem;
}

#footer .footer__socials {
  padding-block: 1.25rem;
  list-style: none;
  display: flex;
  gap: .25rem;
}

.footer__socials-item {
  width: clamp(1.5rem, .5rem + 2.5cqi, 2.5rem);
  margin-bottom: 0;
}

.footer__certificate img {
  max-width: 10rem;
}

.footer__certificate img:has( + img ) {
  margin-right: .5rem;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer__menu-item {
  margin-bottom: 0;

  &.current {
    font-weight: 700;
    color: var(--tertiary-medium);
  }
}

.footer__main {
  padding-block: 3.125rem 1.25rem;
  background-color: #262626;
}

.footer__main .section__inner {
  display: grid;
  grid-template-columns: repeat( var(--_cols, 1), minmax(0, 1fr));
  gap: 1.25rem;

  @container ( width > 850px ) {
    --_cols: 3;
  }
}

.footer__info p {
  margin-bottom: .5rem;
}

.footer__bottom {
  padding-block: 1.25rem;
  background-color: #111;
  text-align: center;
}

.footer__bottom p {
  margin-bottom: 0;
}