#content {
  --_section-bg-clr: hsl( 0 0 100 / .8 );
}

section:not(.additional-info) .section-inner {
  max-width: 1230px;
  margin-inline: auto;
}
/* ===========================
   |       HERO BANNER       |
   =========================== */
.hero {
  padding-block: 3.125rem;
}

.hero .section-inner {
  display: grid;
  grid-template-columns: repeat(var(--_cols, 1), minmax(0, 1fr));
  gap: 1.875rem;
  color: #fff;
}

.hero__video {
  display: block;
  width: 100%;
  object-fit: cover;
}

.hero__read, .hero__icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  margin-bottom: 0;
}

:is(.hero__read, .hero__icons) li {
  margin-bottom: 0;
}

.hero__read {
  justify-content: space-evenly;
  align-items: flex-end;
}

.hero__read span {
  line-height: 1;
}

.hero__read-me {
  font-size: .875rem;
  margin-top: auto;
}

.hero__read-me:has(.stars) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__read-me .stars .material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: gold;
}

.hero__read img {
  width: auto;
  height: 2.5rem;
}

.hero__icons {
  --_arrow-width: 3.125rem;
  gap: var(--_arrow-width);
}

.hero__icon {
  --_content-size: 12.5rem;
  --_icon-size: 5rem;
  flex: 1 0 calc( var(--_content-size) + var(--_icon-size));
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto var(--_icon-size) auto;
  align-content: start;
  justify-items: center;
  grid-template-areas: 'label' 'icon' 'content';
}

.hero__icon:has( + .hero__icon):after {
  grid-area: arrow;
  align-self: center;
  content: '\e984';
  font-family: 'Material Symbols Outlined';
  font-size: var(--_arrow-width);
  color: #fff;
}

.hero__icon-label {
  grid-area: label;
  font-size: 1.25rem;
  font-weight: 700;
}

.hero__icon img {
  grid-area: icon;
  display: block;
  width: var(--_icon-size);
  aspect-ratio: 1;
  object-fit: cover;
}

.hero__icon-content {
  grid-area: content;
  text-align: left;
}

.hero__title {
  text-transform: uppercase;
  font-size: clamp(2.5rem, 4cqi, 3.125rem);
  font-weight: 900;
  color: #fff;
}

.hero__cta {
  --_animate-edge: .625rem;
  margin-top: 1.25rem;
  margin-left: auto;
  display: block;
  padding: .5rem 1.25rem;
  width: fit-content;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--secondary-medium);
  border-radius: 5rem;

  transition: 250ms;
  
  &:hover {
    color: #fff;
    transform: translateY(-.125rem);
  }
}

@container content ( width <= 850px ) {
  .hero__icon:has( + .hero__icon):after {
    display: none;
  }
}

@container content ( width > 850px ) {
  .hero {
    --_cols: 2;
  }

  .hero__read, .hero__icons {
    grid-column: 1 / -1;
  }

  .hero__icon {
    grid-template-columns: 1fr var(--_arrow-width);
    grid-template-areas: 'label arrow' 'icon arrow' 'content arrow';
    justify-items: start;
  }

  .hero__content {
    text-align: left;
  }

  .hero__icon:has( + .hero__icon):after {
    content: '\e941';
  }
}
/* ===========================
   |     TITLE & GALLERY     |
   =========================== */
.title-gallery .page-title {
  font-size: 2.75em;
  margin-bottom: 1em;
}

.included {
  margin-bottom: 2em;
  padding: 2em;
  border-color: var(--tertiary-medium);
  border-style: solid;
  border-radius: 1em;
  border-width: 5px 1px 1px;
  background: var(--_section-bg-clr);
}

.included__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr ));
  gap: 2em;
  margin-bottom: 2rem;
}

.included__check-price {
  padding: .625rem 1.25rem;
}

.included__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: .5rem;
}

.included__item-icon {
  filter: brightness(0) saturate(100%) invert(76%) sepia(79%) saturate(915%) hue-rotate(323deg) brightness(101%) contrast(95%);
  width: 2em;
  align-self: center;
}

.title-gallery {
  padding-block: 0 3.125rem;
}

.title-gallery .trip-info__title {
  display: flex;
  align-items: center;
  gap: .3125em;
  font-weight: bold;
}

.title-gallery .trip-info__content {
  font-size: .825em;
  align-self: start;
}

.trip-info__check-price {
  grid-column: 1 / span 2;
  background-color: var(--tertiary-medium);
  padding: .625em 3em;
  border-radius: 1em;
  transition: 300ms;
  text-align: center;
  display: inline-block;
  width: fit-content;
}

.trip-info__check-price:hover {
  background-color: var(--tertiary-dark);
  color: #fff;
}

@container content (width < 850px) {
  .title-gallery .trip-info {
    grid-template-columns: auto auto;
  }

  .trip-info .trip-info__route {
    grid-column: 1 / 3;
  }
}

.trip-gallery__previews {
  --gallery-gap: .625em;
  --first-img-width: 65%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-content: start;
  gap: var(--gallery-gap);
  position: relative;
}

.trip-gallery__toggle-btn {
  position: absolute;
  bottom: 2em;
  left: 2em;
  background: var(--gray-lighter);
  border-radius: .3125em;
  padding: .625em 1em;
  display: flex;
  align-items: center;
  gap: .3125em;
}

.previews__item {
  display: block;
  border-radius: 1.25em;
  overflow: hidden;
  cursor: pointer;
}

.previews__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trip-gallery__remain-imgs {
  display: none;
}

@container content ( width <= 550px ) {
  .previews__item {
    max-height: 12.5rem;
  }
}

@container content ( width > 550px ) {
  .trip-gallery__previews {
    grid-template-columns: var(--first-img-width) repeat(2 ,minmax( 0, 1fr ) );
    grid-template-rows: repeat(2, minmax( 9.375rem, 12.5rem ));
  }

  .previews__item:nth-of-type(1) {
    grid-row: 1 / span 2;
  }
}
/* ===========================
   |     ADDITIONAL INFO     |
   =========================== */
.additional-info > .section-inner {
  --additional-info-max-width: min(100%, 1230px);
  --additional-info-gap: 2em;
  --additional-info-content-width: calc(var(--additional-info-max-width) * .7 - var(--additional-info-gap) / 2);
  --additional-info-sidebar-width: calc(var(--additional-info-max-width) * .3 - var(--additional-info-gap) / 2);
  display: grid;
  grid-template-columns: [left-edge] auto [content-left] var(--additional-info-content-width) [content-right] var(--additional-info-gap) [sidebar-left] var(--additional-info-sidebar-width) [sidebar-right] auto [right-edge];
  position: relative;
}

.additional-info__tab-content {
  grid-column: content-left / content-right;
}

.additional-info__nav-tabs {
  grid-column: left-edge / right-edge;
  position: sticky;
  top: 70px;
  background-color: var(--gray-lightest);
  border-bottom: 1px solid #ddd;
  z-index: 2;
}

html:has(#wpadminbar) .additional-info__nav-tabs {
  top: 102px;
}

.nav-tabs__inner {
  max-width: var(--additional-info-max-width);
  display: flex;
  margin-inline: auto;
}

.nav-tabs__tab-control {
  display: block;
  padding: 1em;
  color: var(--gray-dark);
}

.nav-tabs__tab-control.current {
  color: #000;
  border-bottom: 3px solid var(--secondary-light);
}

.additional-info__tab-content {
  scroll-behavior: smooth;
}

.additional-info__tab-pane {
  padding: 1em;
}

.additional-info__tab-pane:not(#reviews) {
  border-bottom: 1px solid #ddd;
}

.tab-pane__title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.tab-pane__content {
  color:#fff;

  h2,h3,h4,h5,h6 {
    color: inherit;
  }
}

/* FAQS */
.faqs__item {
  padding: 1em;
  display: grid;
  gap: .625em;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 300ms, padding 300ms;
  cursor: pointer;
  color: var(--gray-darkest);
}

.faqs__item.current {
  border-radius: 1em;
  padding: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, .25);
  grid-template-rows: auto 1fr;
  cursor: default;
  background: var(--_section-bg-clr);
}

.faqs__item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.faqs__question {
  font-weight: 700;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.faqs__question:after {
  font-family: 'dashicons';
  content: '\f543';
}

.faqs__item.current .faqs__question:after {
  content: '\f460';
}

.faqs__answer {
  overflow: hidden;
}

.faqs__answer ul {
  margin-left: 20px;
  margin-bottom: 0;
}

.faqs__answer li {
  margin-bottom: .25rem;
}

/* CAR PRICE TABLE */
#detail {
  container: carPrice / inline-size;
}

.price-table {
  display: grid;
  grid-template-columns: repeat( var(--_cols, 4), minmax( 9.375rem, 1fr));
  overflow-x: auto;
  color: var(--gray-darkest);
}

.price-table--first-col-auto {
  grid-template-columns: auto repeat( calc(var(--_cols, 3) - 1), minmax( 9.375rem, 1fr) );
}

.price-table__row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;

  &:has( + .price-table__row ):not(.price-table__row--header) {
    border-bottom: .0625rem solid var(--gray-darkest);
  }
}

.price-table__cell {
  padding-block: .875rem;
  padding-inline: .9375rem;
  text-align: center;
  background-color: var(--gray-medium);
  
  p {
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.price-table__cell--header {
  align-content: center;
  padding-block: 1.25rem;
  background-color: var(--tertiary-medium);
  font-size: 1.125rem;
}

.car-price__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.car-price__table {
  --_image-height: 10rem;
  display: grid;
  grid-template-columns: repeat(var(--_cols, 4), minmax(9.375rem, 1fr));
  grid-template-rows: var(--_image-height) auto auto;
  gap: .3125rem;
  overflow-x: auto;
}

.car-price__table > * {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: subgrid;
  gap: .3125rem;
}

.table__title .car-price__option {
  font-weight: bolder;
}

.car-price__option.logo {
  display: flex;
  justify-content: center;
}

.car-price__option.car-type {
  text-transform: capitalize;
}

.car-price__option:is(.logo, .image), .car-price__option:is(.logo, .image) img {
  height: var(--_image-height, 10rem);
  object-fit: cover;
}

.car-price__option.image img {
  width: 100%;
}

.car-price__option:not(.logo, .image) {
  padding: .625em;
  line-height: 1.3;
}

.car-price__option.brand {
  min-height: 4em;
}

.car-price__option:nth-child(2n + 1) {
  background-color: var(--gray-light);
}

.car-price__option:nth-child(2n) {
  background-color: var(--gray-medium);
}

@container carPrice (width < 420px) {
  .car-price__option:is(.logo, .image), .car-price__option:is(.logo, .image) img {
    height: 13em;
  }
}

.woocommerce-Reviews-title, #comments {
  color: #fff;
}

#review_form {
  background-color: var(--_section-bg-clr);
}

.comment-form-rating .stars a:after {
  color: var(--gray-darkest);
}

/* Sidebar */
.additional-info__sidebar {
  position: relative;
  grid-column: sidebar-left / sidebar-right;
}

.sidebar__inner--sticky {
  position: sticky;
  top: 6em;
  display: grid;
  gap: 1em;
  padding: 1em;
}

.sidebar__item {
  padding: 2em;
  border-radius: 1em;
  display: grid;
  gap: 1em;
}

.sidebar__item.booking-form {
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, .25);
}

.sidebar__item.booking-form .item__title {
  font-weight: 700;
}

.sidebar__item.need-help {
  background-color: #fff;
  border: 3px solid #000;
}

.sidebar__item.need-help .item__title {
  font-weight: 700;
  font-size: 1.3em;
}

.sidebar__item.need-help .item__content > div {
  display: flex;
  gap: .625em;
  align-items: center;
}

/* Related trips */
.related-trips {
  padding-block: 3.125rem;
}

.related-trips__title {
  color: #fff;
  margin-bottom: 1.875rem;
}

.related-trips__content .swiper-wrapper {
  align-items: stretch;
}

.related-trips .swiper-slide {
  --_slides-per-view: 1;
  --_space-between: .625rem;
  width: calc( ( 100% - ( var(--_slides-per-view) - 1 ) * var(--_space-between) ) / var(--_slides-per-view) );
  margin-right: var(--_space-between);

  @container content ( width > 550px ) {
    --_slides-per-view: 2;
    --_space-between: 1.25rem;
  }

  @container content ( width > 850px ) {
    --_slides-per-view: 4;
  }
}

/* ===========================
   |       BOOKING FORM      |
   =========================== */
#booking-form {
  margin: 0;
  display: grid;
  gap: .625em;
}

#booking-form label {
  margin: 0;
  line-height: 1;
}

#booking-form span:nth-child(3), .add-on__prices {
  margin-left: auto;
  display: flex;
}

#booking-form .add-on__prices span {
  /* display: inline-block; */
  overflow: hidden;
  opacity: 1;
  transition: opacity 300ms;
}

#booking-form .add-on__prices span.hide {
  opacity: 0;
  width: 0;
}

.booking-form__control-wrap:not(.add-ons) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "label input"
    "error error";
  gap: .3125em;
  align-items: center;
}

.booking-form__control-wrap:not(.add-ons) label {
  grid-area: label;
}

.booking-form__control-wrap:not(.add-ons) :is(select, input) {
  grid-area: input;
}

.booking-form__control-wrap:not(.add-ons):has(.booking-form__error-message) :is(input, select) {
  border-color: crimson;
}

.booking-form__control-wrap:not(.add-ons) .booking-form__booking-time {
  width: 100%;
  min-height: 2.5em;
  border: 1px solid #ddd;
  box-shadow: inset 0 0 .1625em rgba(0, 0, 0, .15);
  padding-inline: .625em;
}

.booking-form__control-wrap-title {
  margin-bottom: .625em;
}

.booking-form__add-ons {
  display: grid;
  gap: .625em;
}

.booking-form__add-ons label {
  display: flex;
  align-items: center;
  gap: .625em;
}

.booking-form__add-ons input[type='checkbox'] {
  margin-right: 0;
}

.booking-form__error-message {
  grid-area: error;
  color: crimson;
}

.booking-form__control-wrap :is(input, select), #booking-form input[type="submit"] {
  margin: 0;
}

#booking-form .booking-form__submit-btn {
  min-height: 0;
  display: block;
  line-height: 1;
  margin: 0;
  padding: 1em;
  width: 100%;
  font-size: 1em;
  border-radius: 1em;
  text-transform: capitalize;
}

.booking-form__summary {
  margin: 0;
}

.booking-form__control-wrap:is(.add-ons, .car-types),
.booking-form__submit-btn,
.booking-form__summary, .booking-form__summary :is(tbody, tr, td) {
  transition: 300ms;
}

.booking-form__control-wrap:is(.add-ons, .car-types).hide,
.booking-form__submit-btn.hide,
.booking-form__summary.hide, .booking-form__summary.hide :is(tbody, tr, td) {
  opacity: 0;
  visibility: hidden;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.booking-form__total-price td,
.booking-form__total-price .amount {
  color: crimson;
  font-weight: 700;
}

/* ===========================
   |          MEDIA          |
   =========================== */
@container content (width < 1230px) {
  section:not(.additional-info) .section-inner {
    padding-inline: 1em;
  }
}

@container content (width < 850px) {
  .additional-info__tab-content, .additional-info__sidebar {
    grid-column: left-edge / right-edge;
  }

  .sidebar__inner--sticky {
    position: static;
  }

  .sidebar__item {
    justify-self: center;
    width: min(100%, 30em);
  }
}

@container content (width < 550px) {
  .nav-tabs__inner {
    flex-direction: column;
  }
}